.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: aliceblue;
}
.menu li{
    display: inline-block;
    margin-right: 40px ;
    
}
.menu li a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;

}
.menu li a:hover{
    text-decoration: underline;
}
.menu .active {
    text-decoration: underline;
}
.main-page h1{
    font-size: 150px;
    margin-bottom: 0;
    margin-left: 23px;
    color: wheat;
}
.main-page p{
    font-size: 30px;
    margin-left: 47px;
    color: wheat;
    margin-top: auto;
}
button{
    background-color: transparent;
    margin: 50px;
    color: wheat;
    border-color: wheat;
    font-size: 17px;
    padding: 10px 20px;
    transition: 0.3ms ease-in-out;
}
button a{
    color: wheat;
    text-decoration: none;
}
button:hover{
    background-color: wheat;
    }
    button a:hover{
        color: #4c3113;
    }

.image-container{
    position: relative;
    overflow: hidden;
}
.image-container img{
    display: block;
    width:auto;
    height: 130px;
}
.overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
background-color: rgba(0, 0, 0, 0.7);
opacity: 0;
transition:opacity solid 0.3ms ease;
}
.text-overlay{
    color: wheat;
    font-size: 30px;
    text-align: left;
    margin-top: 40px;
    transition: margin-top 0.3ms ease;
}
.description-overlay{
    color: wheat;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    transition: margin-top 0.3ms ease;
}
.image-container:hover .overlay{
    opacity: 1;
}
.image-container:hover .text-overlay{
    margin-top: 10px;
    padding: 0 20px;
}
.image-container:hover .description-overlay{
    margin-top: 10px;
    padding: 0 20px;
}
.main-page{
    background-image: url(src/image/baloon6.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 20px;
}
 .food-page, .main-page{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}


