.carousel-item img {
      object-fit: cover;
      object-position: center;
      height: 600px;
      overflow: hidden;
    }
    .carousel-item active {
      object-fit: center;
      object-position: center;
      overflow: hidden;
    }